// Copyright (c) 2022 The ZMK Contributors
// SPDX-License-Identifier: MIT

#define ZMK_POINTING_DEFAULT_MOVE_VAL 2500  // 600
#define ZMK_POINTING_DEFAULT_SCRL_VAL 20    // 10

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

#define MAC 0
#define WIN 1
#define RIG 2
#define LEF 3
#define TRI 4
#define MOUSE 5

/ {
    chosen { zmk,charmap = &charmap_us; };

    behaviors {
        ht: hold_tap {
            label = "hold_tap";
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            flavor = "tap-preferred";
            tapping-term-ms = <220>;
            quick-tap-ms = <150>;
            global-quick-tap;
            bindings = <&kp>, <&kp>;
        };

        mmv {
            acceleration-exponent = <1>;      // 1
            time-to-max-speed-ms = <300>;    // 40
            delay-ms = <0>;                   // 0
        };

        msc {
            acceleration-exponent = <0>;      // 0
            time-to-max-speed-ms = <40>;      // 500
            delay-ms = <0>;                   // 10
        };
    };

    conditional_layers { compatible = "zmk,conditional-layers"; };

    keymap {
        compatible = "zmk,keymap";

        Base {
            display-name = "Base";
            bindings = <
&lt 3 Q           &kp W  &kp F  &kp P                &kp G              &kp J        &kp L              &kp U      &kp Y    &kp SQT
&mt LCTRL A       &kp R  &kp S  &kp T                &kp D              &kp H        &kp N              &kp E      &kp I    &kp O
&mt LEFT_SHIFT Z  &kp X  &kp C  &kp V                &kp B              &kp K        &kp M              &kp COMMA  &kp DOT  &mt RIGHT_SHIFT SLASH
                                &mt LEFT_ALT DELETE  &lt 2 BACKSPACE    &lt 1 SPACE  &mt RIGHT_GUI TAB
            >;
        };

        Navigation {
            display-name = "Nav";
            bindings = <
&kp NUMBER_1  &kp NUMBER_2  &kp NUMBER_3    &kp NUMBER_4  &kp N5           &kp NUMBER_6  &kp N7          &kp N8        &kp N9     &kp N0
&kp LG(TAB)   &trans        &kp UP_ARROW    &kp LG(LEFT)  &kp LG(RIGHT)    &kp LEFT      &kp DOWN_ARROW  &kp UP_ARROW  &kp RIGHT  &trans
&to 3         &kp LEFT      &kp DOWN_ARROW  &kp RIGHT     &kp CLCK         &kp ESCAPE    &trans          &trans        &trans     &kp ENTER
                                            &trans        &trans           &trans        &trans
            >;
        };

        Function {
            display-name = "Fun";
            bindings = <
&kp LC(C)  &kp LC(V)  &kp LC(X)   &kp LC(A)     &kp LC(N5)      &kp MINUS  &kp EQUAL  &kp LEFT_BRACKET  &kp RIGHT_BRACKET  &kp SEMICOLON
&kp F1     &kp F2     &kp F3      &kp F4        &kp F5          &kp F6     &kp F7     &kp F8            &kp F9             &kp F10
&trans     &trans     &kp K_MUTE  &kp C_VOL_DN  &kp C_VOL_UP    &kp F11    &kp F12    &kp BACKSLASH     &trans             &kp ENTER
                                  &trans        &trans          &trans     &trans
            >;
        };

        Gaming {
            display-name = "Game";
            bindings = <
&kp Q  &kp W  &kp E  &kp R    &kp T        &kp Y          &kp U      &kp I      &kp O       &kp P
&kp A  &kp S  &kp D  &kp F    &kp G        &kp FSLH       &kp MINUS  &kp EQUAL  &kp COLON   &kp SEMI
&kp Z  &kp X  &kp C  &kp V    &kp B        &kp N          &kp M      &kp COMMA  &kp PERIOD  &kp QMARK
                     &kp TAB  &kp SPACE    &kp BACKSPACE  &to 0
            >;
        };
    };
};
